@font-face {
  font-family: "FX_LED";
  src: url("fonts/FX-LED\ Bold.TTF");
}

@font-face {
  font-family: "Hack";
  src: url("fonts/Hack-Bold.ttf");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  margin: 0;
}

.digital-clock {
  background-color: black;
  color: white;
  display: flex;
  border-radius: 2rem;
  user-select: none;
  padding: 0 2rem;
  border: 0.5rem solid #2d2d2d;
}

.week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2d2d2d;
  font-weight: bold;
  font-family: "Hack";
  font-size: 1.2rem;
  padding-right: 3rem;
}

.week .active {
  color: white;
}

.time {
  font-family: "FX_LED";
}

.hour,
.min,
.dot {
  display: inline-block;
  font-size: 13rem;
}

.min {
  display: math;
}

.invisible {
  visibility: hidden;
}

/* Responsive Styles for iPhone */
@media only screen and (max-width: 480px) {
  body {
    height: 70vh;
  }
  .digital-clock {
    padding: 0.5rem 1rem;
  }

  .week {
    padding-right: 1.5rem;
  }

  .hour,
  .min,
  .dot {
    padding-top: 1rem;
    font-size: 8rem;
  }
}
